# Easier navigation:
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias code="cd ~/code"
alias web="cd /var/www/"
alias cl="clear"
alias g="git"
alias v="vim"
alias c='clear'
alias k='clear'
alias cls='clear'
alias edit="$EDITOR"
alias q="exit"
alias h="history"
alias md='mkdir -p'


# List
alias sl=ls
alias ll='ls -al'
alias l='ls -a'
alias l1='ls -1'

# Random Things
alias please=sudo
alias force=sudo

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# GIT
# Undo git push
alias undogitpush="git push -f origin HEAD^:master"
alias gc="git clone"
alias gs="git status"
alias ga="git add"
alias gaa="git add ."
alias gc="git commit"
alias gco="git checkout"
alias gp="git push"

# IP addresses

# Return public IP
alias pub-ip="dig +short myip.opendns.com @resolver1.opendns.com"

alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

alias localip="ifconfig en0 inet | grep 'inet ' | awk ' { print $2 } '"


# DNS
# Google primary DNS server
alias digg="dig @8.8.8.8"

# Open DNS primary DNS server
alias digo="dig @208.67.222.222"

alias mx="dig MX"

# Bash Profile stuff

alias bashup="source ~/.bash_profile"
alias v-bash="vim ~/.bash_profile;source ~/.bash_profile"

# Decompress a file (credit to https://github.com/JBurgess32)
extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1     ;;
      *.tar.gz)    tar xzf $1     ;;
      *.bz2)       bunzip2 $1     ;;
      *.rar)       unrar e $1     ;;
      *.gz)        gunzip $1      ;;
      *.tar)       tar xf $1      ;;
      *.tbz2)      tar xjf $1     ;;
      *.tgz)       tar xzf $1     ;;
      *.zip)       unzip $1       ;;
      *.Z)         uncompress $1  ;;
      *.7z)        7z x $1        ;;
         *)     echo "'$1' cannot be extracted via extract()" ;;
    esac
  else
      echo "'$1' is not a valid file"
  fi
}

# npm
alias npmi="sudo npm install"
alias npmg="sudo npm install -g"
alias npmu="sudo npm update"
alias npmr="sudo npm uninstall"
alias npmrg="sudo npm uninstall -g"
alias npmdev="sudo npm install --save-dev"
alias npmsave="sudo npm install --save"
# Delete and reinstall node modules
alias noderi="rm -rf node_modules && npm cache clear && npm i"

# MacOS things
# Recursively delete `.DS_Store` files
# Better solution: http://www.linuxmint.com/download.php
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# Hide or show all desktop icons
alias hidedesktop="defaults wrSite com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# npm offline
# install npm dependencies from cache
# https://github.com/npm/npm/issues/2568#issuecomment-30626394
alias npmo="sudo npm install --cache-min 999999999"

# Apache

alias apachea="tail -f /var/log/apache2/access.log"
alias apachee="tail -f /var/log/apache2/error.log"

# Gulp (npm shortcut)

alias npmgulp="./node_modules/.bin/gulp"
